{% extends 'base.html' %}
{% load static %}

{% block movie %}
<!-- Movie -->
<section class="movie pb-5 pt-5" id="movie">
    <div class="container">
        
        {% if movie_rekomendasi %}
        <div class="row mb-5">
            <div class="row">
                <h4 class="title-movie">Recommendation</h4>
                <hr class="hr-left rounded-pill">
            </div>
            <div class="row">
                {% for key, value in movie_rekomendasi.items %}
                <div class="card" style="width: 13rem; padding-left: 0; padding-right: 0;">
                    <img src="{%static 'recommender/img/img-movie2.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row rate">
                            <div class="col-md-6">
                                <p class="color-secondary-custom"><i class="fas fa-star"></i> {{ value.avg|floatformat:1 }}</p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <div class="float-right">
                                    <a href="#" class="text-right color-primary-custom" data-bs-toggle="modal"
                                        data-bs-target="#modal-rating"><i class="far fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 rateby">
                                <p><i class="fas fa-users"></i> {{ value.jumlah }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="card-title">{{ value.title|truncatechars:18 }}</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.imdb.com/title/tt{{ value.imdb }}/" target=”_blank” class="btn rounded-pill btn-outline-sm-custom-primary">IMDB</a>
                                <a href="https://www.themoviedb.org/movie/{{ value.tmdb }}" target="_blank" class="btn rounded-pill btn-outline-sm-custom-primary">TMDB</a>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <a href="#" class="color-primary-custom"><i class="fas fa-info-circle"></i></a>
                                <a type="button" class="color-primary-custom tag modal-tag" data-bs-toggle="modal" data-bs-target="#modal-tag" onclick="detailTag('{{ key }}')"><i class="fas fa-tags"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- Genre Favorite -->
        {% if movie_genre %}
        <div class="row mb-5">
            <div class="row">
                <h4 class="title-movie">Genre Favorite</h4>
                <hr class="hr-left rounded-pill">
            </div>
            <div class="row">
                {% for key, value in movie_genre.items %}
                <div class="card" style="width: 13rem; padding-left: 0; padding-right: 0;">
                    <img src="{%static 'recommender/img/img-movie2.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row rate">
                            <div class="col-md-6">
                                <p class="color-secondary-custom"><i class="fas fa-star"></i> {{ value.avg|floatformat:1 }}</p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <div class="float-right">
                                    <a href="#" class="text-right color-primary-custom" data-bs-toggle="modal"
                                        data-bs-target="#modal-rating"><i class="far fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 rateby">
                                <p><i class="fas fa-users"></i> {{ value.jumlah }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="card-title">{{ value.title|truncatechars:18 }}</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.imdb.com/title/tt{{ value.imdb }}/" target=”_blank” class="btn rounded-pill btn-outline-sm-custom-primary">IMDB</a>
                                <a href="https://www.themoviedb.org/movie/{{ value.tmdb }}" target="_blank" class="btn rounded-pill btn-outline-sm-custom-primary">TMDB</a>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <a href="#" class="color-primary-custom"><i class="fas fa-info-circle"></i></a>
                                <a type="button" class="color-primary-custom tag modal-tag" data-bs-toggle="modal" data-bs-target="#modal-tag" onclick="detailTag('{{ key }}')"><i class="fas fa-tags"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- Top Rate -->
        <div class="row mb-5">
            <div class="row">
                <h4 class="title-movie">Top Rated Movie</h4>
                <hr class="hr-left rounded-pill">
            </div>
            <div class="row">
                {% for key, value in movie_top.items %}
                <div class="card" style="width: 13rem; padding-left: 0; padding-right: 0;">
                    <img src="{%static 'recommender/img/img-movie2.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row rate">
                            <div class="col-md-6">
                                <p class="color-secondary-custom"><i class="fas fa-star"></i> {{ value.avg|floatformat:1 }}</p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <div class="float-right">
                                    <a href="#" class="text-right color-primary-custom" data-bs-toggle="modal"
                                        data-bs-target="#modal-rating"><i class="far fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 rateby">
                                <p><i class="fas fa-users"></i> {{ value.jumlah }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="card-title">{{ value.title|truncatechars:18 }}</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.imdb.com/title/tt{{ value.imdb }}/" target=”_blank” class="btn rounded-pill btn-outline-sm-custom-primary">IMDB</a>
                                <a href="https://www.themoviedb.org/movie/{{ value.tmdb }}" target="_blank" class="btn rounded-pill btn-outline-sm-custom-primary">TMDB</a>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <a href="#" class="color-primary-custom"><i class="fas fa-info-circle"></i></a>
                                <a type="button" class="color-primary-custom tag modal-tag" data-bs-toggle="modal" data-bs-target="#modal-tag" onclick="detailTag('{{ key }}')"><i class="fas fa-tags"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Modal Rating -->
<div class="modal fade" id="modal-rating" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100" id="exampleModalLabel">Rate</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form action="">
                    <div class="row pb-2">
                        <div class="col d-flex justify-content-center">
                            <p class="color-secondary-custom fs-1 p-2"><i class="far fa-star"></i></p>
                            <p class="color-secondary-custom fs-1 p-2"><i class="far fa-star"></i></p>
                            <p class="color-secondary-custom fs-1 p-2"><i class="far fa-star"></i></p>
                            <p class="color-secondary-custom fs-1 p-2"><i class="far fa-star"></i></p>
                            <p class="color-secondary-custom fs-1 p-2"><i class="far fa-star"></i></p>
                        </div>
                    </div>
                    <button type="submit" class="btn rounded-pill btn-custom-primary mt-3 mb-2">Give Rate</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tag -->
<div class="modal fade" id="modal-tag" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center w-100" id="exampleModalLabel">Tag</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form action="{% url 'user_add_tag' %}" method="post">
                    {% csrf_token %}
                    <div class="row pb-2 m-2 text-center">
                        <input type="hidden" name="id_movie" class="id_movie_tag">
                        <input type="text" class="form-control rounded-pill text-center" name="tag" placeholder="masukan text tag">
                    </div>
                    <button type="submit" class="btn rounded-pill btn-custom-primary mt-3 mb-2">Give Tag</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock movie %}


{% block scripts %}
<script>
function detailTag(id) {
    $('.id_movie_tag').val(id)
}
</script>
{% endblock scripts %}
    